body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}


.figure-list, .navbar-list, .socialNB-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}


.upper-text, .lower-text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


.figure-list img {
  width: 100%;
  height: auto;
}


.caption {
  font-size: 12px;
  color: gray;
}


.navbar-list, .socialNB-list {
  justify-content: center;
}


.navbar-item, .socialNB-item {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}


.navbar-item:hover, .socialNB-item:hover {
  background-color: #eee;
}

